@use './_responsives.scss';

:root {
  --color-alpha: #121212;

  --max-width-web: 50rem;
}

html {
  scroll-behavior: smooth !important;
  overflow: hidden;

  @include responsives.XGA {
    overflow-y: scroll;
  }

  @include responsives.VGA {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--color-alpha);

  @include responsives.XGA {
    padding: 0;
    height: auto;
  }
}
