# Web3
VITE_APP_WALLETCONNECT_PROJECT_ID=b01... # Assign your wallet connect project id

# Contracts sepolia
VITE_DAI_CONTRACT_ADDRESS_SEPOLIA=0x123... # Assign dai contract addres from sepolia chain
VITE_USDC_CONTRACT_ADDRESS_SEPOLIA=0x123... # Assign usdc contract addres from sepolia chain

# Contracts mumbai
VITE_DAI_CONTRACT_ADDRESS_MUMBAI=0x123... # Assign dai contract addres from mumbai chain
VITE_USDC_CONTRACT_ADDRESS_MUMBAI=0x123... # Assign usdc contract addres from mumbai chain

# App
VITE_APP_APP_NAME=project-name # Assign the project name